* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 200px;
    width: 100%;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.resultImg {
    display: flex;
    gap: 50px;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-choice {
    display: flex;
    align-items: center;
    gap: 30px;
}